{{#each this}}
<div class="photo-card">
  <a href="{{largeImageURL}}">
    <img src="{{webformatURL}}" alt="{{tags}}" loading="lazy"/>
    </a>
    <div class="info">
        <p class="info-item">
            <b>Likes:</b></br>{{likes}}<br>
        </p>
        <p class="info-item">
            <b>Views:</b></br>{{views}}<br>
        </p>
        <p class="info-item">
            <b>Comments:</b></br>{{comments}}<br>
        </p>
        <p class="info-item">
            <b>Downloads:</b></br>{{downloads}}<br>
        </p>
    </div>
</div>
{{/each}}
